<h1>Listing Tweets</h1>

<br />

<% if current_user%>
	Post
	<br /><br />
	<%= form_tag tweet_path do %>
	<fieldset>
		<legend>140 char limit</legend>
		<div>
			<label for="mytweet">mytweet:</label>
			<%= text_field_tag :my_tweet, params[:my_tweet], :maxlength => 200 %>
		</div>
		<div>
			<%= submit_tag "tweet" %>
		</div>
	</fieldset>
	<% end %>

	
	Get the most recent tweets from the Timeline
	<br/><br/>
	<% @most_recent_tweets.each do |tweet| %>
		<!-- note: use tweet["attrs"] to see all objects-->
		<%= image_tag (tweet["user"]["profile_image_url"].html_safe) %>-
		<%= tweet["user"]["name"] %>-<%= tweet["attrs"]["text"] %>-<%= tweet["created_at"] %><br /><br />
		<!-- save the tweets to DB -->
		<!-- TODO if post_id is not unique do not save -->	
			<% Savetweets.create(:username => tweet["user"]["name"], 
			:userimageurl => tweet["user"]["profile_image_url"], :usertext => tweet["attrs"]["text"], 
			:post_id => tweet["created_at"]) %>
	<% end %>
	
	Display tweets in database
	<br/><br/>
		<!-- TODO pull fields from here -->
		<% @savedtweets = Savetweets.all %>
		<% @savedtweets.each do |dbtweet| %>
			<%= image_tag (dbtweet.userimageurl.html_safe) %>-
			<%= dbtweet.username %>-<%= dbtweet.usertext %>-<%= dbtweet.post_id %><br /><br />
		<% end %>
	
<% end %>






