<!DOCTYPE html>
<html>
<head>
  <title>Toy Twitter App</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<div class="left">
		<h1>Toy Twitter App</h1>
	</div>
	<div class="right">
		<!-- in case of some errors display here -->
		<h2><%= notice %></h2>
		<% if current_user%>
			Welcome
			<h3><%= current_user.name %></h3>
			<%= link_to "Sign Out", signout_path %>
		<% else %>
			<%= link_to "Sign In with Twitter", '/auth/twitter' %>
		<% end %>
	</div>	
</div>

<div id="wrapper">
	<div id="rightside">
		<% if current_user%>
			<%= image_tag (current_user.image.html_safe), :class => "bevel", :size => "80x80" %><br />
			<h3><%= current_user.name %></h3><br />
			Followers:<br />
			<!-- TODO - extract followers from followers DB table -->
		<% else %>
			Followers:
		<% end %>
	</div>

	<!-- this yield displays products/index.html.erb -->
	<div id="mainstream">
		<%= yield %>
	</div>

	<div id="leftside">
		
		Tweets 'bout me:<br /><br/>
		Local trends:
		
	</div>
</div> <!-- wrapper ends -->
<div id="footer">
	Toy Twitter App brought to you by - <%= link_to "thefonso",'thefonso.com' %>
</div>
</body>
</html>
