<!DOCTYPE html>
<html>
<head>
  <title>Birdie</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<h1>Toy Twitter App</h1>
</div>
<h2><%= notice %></h2>

<div id="user_nav">
	<% if current_user%>
	Welcome <%= current_user.name %>
	<%= link_to "Sign Out", signout_path %>
	<% else %>
		<%= link_to "Sign In with Twitter", '/auth/twitter' %>
	<% end %>

</div>

# Get the most recent tweets from the Timeline
<%= Twitter.home_timeline %>
</body>
</html>
